.erro {
    background-color: red;
    border: none;
    background-color: rgb(255, 218, 210);
}

.campo-obrigatoio {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    color: red;
}

.campo-obrigatoio img{
    width: 1px;
    height: 1px;
}